<header class="header">
    <h2 class="title header__title">Visites</h2>
    <a routerLink="" mat-flat-button class="header__button">
        <mat-icon>add</mat-icon>
    </a>
</header>

<table>
    <thead>
        <tr>
            <th>Patient</th>
            <th>Type</th>
            <th>Date</th>
            <th>Motif</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let meet of meets">
            <td>{{ meet.patient.lastName | uppercase }} {{ meet.patient.firstName }}</td>
            <td></td>
            <td>{{ meet.date | date: 'dd/MM/Y' }}</td>
            <td>{{ meet.subject }}</td>
        </tr>
    </tbody>
</table>