<section class="patient">
    <header class="header">
        <h2 class="title">{{ patient.lastName | uppercase }} {{ patient.firstName }}</h2>
        <section class="buttons">
            <a routerLink="edit" class="header__button">Modifier</a>
            <a href="#" class="header__button">Appeler</a>
            <a (click)="archive()" class="header__button header__button--red">Archiver</a>
        </section>
    </header>

    <section class="tile patient__info">
        <header class="header">
            <h3 class="title">Informations</h3>
        </header>
        <table>
            <tbody>
                <tr>
                    <td>Genre : </td>
                    <td>{{ labels.gender }}</td>
                </tr>
                <tr>
                    <td>Taille : </td>
                    <td>{{ patient.height }} cm</td>
                </tr>
                <tr>
                    <td>Poids : </td>
                    <td>{{ patient.weight }} kg</td>
                </tr>
                <tr>
                    <td>Allergies : </td>
                    <td>{{ patient.allergies }}</td>
                </tr>
                <tr>
                    <td>Groupe sanguin : </td>
                    <td>
                        {{ labels.bloodGroup }}
                    </td>
                </tr>
                <tr>
                    <td>N° de sécurité sociale : </td>
                    <td>{{ patient.socialNumber }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="tile note">
        <header class="header">
            <h3 class="title">Notes</h3>
        </header>
        <textarea class="note__content" [value]="patient.notes" disabled></textarea>
    </section>

    <section class="tile">
        <header class="header">
            <h3 class="title">Documents</h3>
        </header>
        <table class="documents">
            <tbody>
                <tr class="document" *ngFor="let document of patient.documents">
                    <td class="document__name">{{ document.name + '.' + document.extension.toLowerCase() }}</td>
                    <td class="document__extension">{{ document.extension }}</td>
                    <td class="document__uploadAt">{{ document.uploadAt }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="tile">
        <header class="header">
            <h3 class="title">Traitements</h3>
        </header>
        <form [formGroup]="form">
            <table class="patient__treatments">
                <thead>
                    <tr>
                        <th>Médicaments*</th>
                        <th>Répétition*</th>
                        <th>Durée*</th>
                        <th>Actions*</th>
                    </tr>
                </thead>
                <tbody formArrayName="treatments">
                    <tr *ngFor="let treatmentForm of treatmentsForms.controls; let key = index" [formGroupName]="key">
                        <td>
                            <select formControlName="drug" class="select" name="drug" id="drug">
                                <option value="" selected>Séléctionnez un médicament</option>
                                <option *ngFor="let drug of drugs" [ngValue]="drug.id">{{ drug.label }}</option>
                            </select>
                        </td>
                        <td>
                            <select formControlName="repeat" class="select" name="repeat" id="repeat" multiple>
                                <option *ngFor="let repeat of repeats" [ngValue]="repeat.id">{{ repeat.label }}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select formControlName="duration" class="select" name="period" id="period">
                                <option value="" selected>Séléctionnez la durée</option>
                                <option *ngFor="let duration of durations" [ngValue]="duration.id">{{ duration.label }}
                                </option>
                            </select>
                        </td>
                        <td class="actions">
                            <div class="button actions__button actions__button--delete" (click)="deleteRow(key)">
                                <img src="assets/icon/delete_forever_24px.svg" alt="Supprimer le traitement">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="treatments__add" colspan="4">
                            <button class="button button--add-treatment" (click)="addRow()">Ajouter un
                                traitement</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </section>
</section>