.actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &__button {
    &,
    &:link,
    &:hover,
    &:visited {
      width: 2vw;
      height: 2vw;
    }

    &--delete {
      &,
      &:link,
      &:hover,
      &:visited {
        background-color: rgba(215, 64, 0, 0.56);
      }
    }
  }
}
