.button {
  &,
  &:link,
  &:hover,
  &:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vw;
    color: white;
    background-color: #59e1f7;
    border-radius: 25%;
    border-bottom-right-radius: 0%;
    border: none;
    cursor: pointer;
  }

  &--green {
    &,
    &:link,
    &:hover,
    &:visited {
      background-color: green;
    }
  }

  &--add-treatment {
    &,
    &:link,
    &:hover,
    &:visited {
      margin: auto;
      padding: 1rem;
      border-radius: 5px;
      width: 25%;
      height: 50%;
    }
  }
}
