.select {
  padding: 0.5rem 1rem;
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 5px;
  font: {
    family: Roboto;
    style: normal;
    weight: normal;
    size: 1rem;
  }
  color: #dadada;
  cursor: pointer;
}
