<header class="header">
  <h1 class="title">{{ title }}</h1>
  <a routerLink="patients/add" mat-flat-button class="button">
    <mat-icon>add</mat-icon>
  </a>
</header>

<mat-grid-list cols="2" rowHeight="2:1" gutterSize="4%">
  <mat-grid-tile>
    <app-appointments></app-appointments>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-statistics></app-statistics>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <app-patients-component></app-patients-component>
  </mat-grid-tile>
</mat-grid-list>