<section class="patients">
    <input type="text" [(ngModel)]="this.search" (input)="this.getData()" name="patients_search" id="patients_search"
        class="patients__searchbar" placeholder="Rechercher">

    <table class="patients__table">
        <thead class="patients__header">
            <tr class="patients__row">
                <th>Nom</th>
                <th>Prénom</th>
                <th>Dernière visite</th>
                <th>Motif</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients" [routerLink]="'/patients/' + patient.id + '/edit'">
                <td>{{ patient.firstName }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.lastIncome }}</td>
                <td>{{ patient.lastSubject }}</td>
            </tr>
        </tbody>
    </table>
</section>